{{#each products}}
    <h1>Id: <div class="new-color">{{id}}</div></h1><br>
    <h1>Nome: <div class="new-color">{{name}}</div></h1><br>
    <h1>Quantidade: <div class="new-color">{{amount}}</div></h1><br>
    <h1>Descrição: <div class="new-color">{{description}}</div></h1><br>
    <h1>Data: <div class="new-color">{{createdAt}}</div></h1>
    <a href="/alter/{{id}}"><input type="submit" value="Alterar"></a>
    <a href="/delete/{{id}}"><input type="submit" value="Deletar"></a>
    <hr>
{{/each}}